@font-face {
  font-family: "iconfont"; /* Project id 3780539 */
  src: url('iconfont.woff2?t=1668883805147') format('woff2'),
       url('iconfont.woff?t=1668883805147') format('woff'),
       url('iconfont.ttf?t=1668883805147') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qrcode:before {
  content: "\e76e";
}

.icon-scan:before {
  content: "\e9f7";
}

.icon-order:before {
  content: "\e713";
}

.icon-hot:before {
  content: "\e753";
}

.icon-arrow:before {
  content: "\e7b2";
}

.icon-member:before {
  content: "\e8c5";
}

.icon-search:before {
  content: "\e693";
}

.icon-user:before {
  content: "\e8c8";
}

.icon-favorite:before {
  content: "\e627";
}

.icon-cart:before {
  content: "\e600";
}

