@import 'src/style/variables/default.scss';
@import './fonts/iconfont.scss';

/**
 * iphone x兼容
 */
 :root {
  --origin-safe-area-inset-top: 0px;
  --origin-safe-area-inset-bottom: 0px;

  --safe-area-inset-top: var(
      --device-safe-area-inset-top,
      var(--origin-safe-area-inset-top)
  );
  --safe-area-inset-bottom: var(
      --device-safe-area-inset-bottom,
      var(--origin-safe-area-inset-bottom)
  );
  --safe-area-inset-left: 0;
  --safe-area-inset-right: 0;
}

/* 兼容 iOS < 11.2 */
@supports (width: constant(safe-area-inset-top)) {
  :root {
    --safe-area-inset-top: constant(safe-area-inset-top);
    --safe-area-inset-bottom: constant(safe-area-inset-bottom);
    --safe-area-inset-left: constant(safe-area-inset-left);
    --safe-area-inset-right: constant(safe-area-inset-right);
  }
}

/* 兼容 iOS >= 11.2 */
@supports (width: env(safe-area-inset-top)) {
  :root {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
    --safe-area-inset-right: env(safe-area-inset-right);
  }
}

page,
.page-container {
  width: 100%;
  height: 100%;
  background-color: $background-base;
}

.price-value {
  color: $text-primary-color;
  font-size: $font-size-lg;
}
.price-unit {
  color: $text-primary-color;
  font-size: $font-size-sm;
}
.price-red {
  color: $danger;
}
.price-primary {
  font-size: $font-size-xl;
}
.txt-h3 {
  font-size: $font-size-md;
}
.txt-h4 {
  font-size: $font-size-sm;
}
.txt-secondary {
  color: $text-secondary-color;
}